# Local env files
.env

# Umbraco runtime data
UmbracoSite/App_Data/
# Node
node_modules/
npm-debug.log*

# Build outputs
dist/
publish/

# .NET
bin/
obj/

# User/IDE
.vs/
.vscode/
*.user
*.suo

# Logs
*.log

# OS
.DS_Store
Thumbs.db
